node_modules
lib
.tsbuildinfo

# This is purely pre-cautionary; when linting becomes slow, delete this eslintcache entry
.eslintcache

*.tgz

examples/supermassive-todomvc/**/*.d.ts*

/relay-compiler-12.0.0